@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quattrocento Sans', sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.bg-background {
  background-color: #800080 !important;
  background-image: url("./assets/background.png");
}
